html{
	height: 100%;
}
#aboutUsBody{
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vw;
	background-image: url('/img/notebookPaper.jpeg');
	background-size: cover;
	background-repeat: repeat;
	position: center;
	margin: 0 -160px;
	padding: 0 160px;
	overflow: scroll;
	position: fixed;
	 top: 0;
	 left: 0;
	font-family: 'Just Another Hand', sans-serif;
	font-size: 2rem;
}

.us{
	margin-bottom: 2.5%;
}
  	
.picture{
	border-radius: 50%;
	box-shadow: 5px 5px 5px #888888;
	color: white;
	margin-top: 20px;
	border: solid black 3px;
	zoom: 110%;
}

.icon{
	zoom: 20%;
}

.burney{
	text-align: center;
}
.greg{
	text-align: center;
}
.logan{
	text-align: center;
}
.nick{
	text-align: center;
}
#aboutUsParagraph{
	line-height: 170%;
}