html{
	height: 100%;
}
#aboutUsBody{
	height: 100vh;
	/*width: 100vw;*/
  	background-image: url('../img/notebookPaper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.picture{
	border-radius: 50%;
	box-shadow: 10px 10px 5px #888888;
	color: white;
	margin-top: 20px;
}

	/*margin: 2%;*/
}

#logan{

	/*width: 70%;*/
}