#dashboardBODY{
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vw;
	/*position: fixed;*/
	background-image: url('/img/notebookPaper.jpeg');
	background-image: cover;
	background-repeat: repeat-y;
	margin: 0 -160px;
	padding: 0 160px;

	overflow: scroll;

}

.statusPage{
	display: flex;
	flex-wrap: wrap;
	height: 70vh;
	width: 80vw;
	background: rgba(0,0,0,0.2);
}

.statusPic{
	height: 35%;
	width: 10%;
	border-radius: 50%;
	box-shadow: 5px 5px 5px #888888;
	color: white;
	margin-top: 20px;
	margin-left: 15px;
	border: solid black 3px;
	float: left;
}

.statusInfo{
	margin-left: 5px;
	margin-bottom: 5px;
	height: 150px;
	width: 80%;
	background: rgba(0,0,0,0.4);

}