body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}
#dashboardBODY{
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100vw;
	background-image: url('/img/notebookPaper.jpeg');
	background-image: cover;
	background-repeat: repeat-y;
	margin: 0 -160px;
	padding: 0 160px;

	overflow: scroll;

}

.statusPic{
	height: 50%;
	width: 50%;
	border-radius: 50%;
	box-shadow: 5px 5px 5px #888888;
	color: white;
	margin-top: 10px;
	margin-left: 25%;
	margin-right: 80px;
	border: solid black 3px;
	float: left;
	display: inline-block;
}

.statusInfo{
	margin-left: 5px;
	margin-bottom: 5px;
	height: 180px;
	width: 80%;
	background: rgba(0,0,0,0.4);

}

.statusList{
	list-style: none;
	margin-left: 15%;
}
.titleSizing{
	height: 100vh;
	width: 100vh;
}

.quote-container {
  margin-top: 50px;
  padding: 5px;
  position: relative;
  text-align: center;

}

.note {
  color: #333;
  position: relative;
  clear: both;
  width: 300px;
  height: 300px;
  font-family: Cavorting;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  text-align: center;
}
 
.note .author {
  display: block;
  /*margin: 40px 0 0 0;*/
  
  text-align: center;

}

.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.addIcon{
    height: 25px;
    width: 25px;
    float: left;
}

.subIcon{
	height: 18px;
	width: 18px;
	float: left;
	margin: 5px;
}

