.loginStyle{
	height: auto;
	width: 70%;
	background: rgba(0,0,0,0.2);
}

.formMarginAdjust{
	margin-left: 115px;
}

.adjustFormMarginTop{
	margin-top: 15px;
}

.buttonColor{
	background-color: green;
}