.loginStyle{
	height: auto;
	width: 64%;
	background: rgba(0,0,0,0.2);
	border: solid black 3px;
	border-radius: ;

}

.formMarginAdjust{
	margin-left: 115px;
}

.adjustFormMarginTop{
	margin-top: 15px;
}

.buttonColor{
	background-color: green;
}