@font-face {
    font-family: Yunus;
    src: url('../fonts/Yunus/YunusH.otf');
}

.YunusNavbar{
	font-family: Yunus;
	font-size: 30px;
	color: #000000;
	list-style: none;
}

.Yunus{
	font-family: Yunus;
}

@font-face {
    font-family: Cavorting;
    src: url('../fonts/Cavorting/Cavorting.otf');
}

.Cavorting{
	font-family: Cavorting;
}

.CavortingTitle{
	font-family: Cavorting;
	font-size: 7vw;
	font-style: bold;
	color: #424242;
}
