@font-face {
    font-family: Yunus;
    src: url('../fonts/Yunus/YunusH.otf');
}

.YunusNavbar{
    font-family: Cavorting;
    font-size: 30px;
    color: #000000 !important;
    list-style: none;
}

.Yunus{
    font-family: Cavorting;
}

.yunusStatus{
    font-family: Cavorting;
    font-size: 30px;
}

@font-face {
    font-family: Cavorting;
    src: url('../fonts/Cavorting/Cavorting.otf');
}

.Cavorting{
    font-family: Cavorting;
}

.CavortingTitle{
    height: 40%;
    width: 40%;
    margin: 0;
    font-family: Cavorting;
    font-size: 7vw;
    font-style: bold;
    color: #424242;
    margin-bottom: -140px;
    margin-left: 34%;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.4);

}

.CavortingEdit{
    margin: 0;
    font-family: Cavorting;
    font-size: 7vw;
    font-style: bold;
    color: #424242;
    margin-left: 20%;

}