#landingBody{
  	background-image: url('../img/notebookBackground.jpeg');
	height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  	font-family: 'Copperplate Gothic Bold', sans-serif;
  	text-align: center;
    font-size: 1.5rem;
}

.whiteBox{
	background-color: white;
	border-radius: 22px;
	margin-left: auto;
	margin-right: auto;
	border: solid black 2px;
}

.title{
	margin-top: 20px;
	font-size: 5rem;
	font-weight: bold;
}

.invisible{
	display: none;
}

legend{
	border: solid black 2px;
	float: left;
	padding-left: 1%;
}

form input[type=text], input[type=email], input[type=password]{
	width: 70%;
	text-align: center;
	border: none;
	border-bottom: solid black 3px;
	outline: none;
}
