html{
	height: 100%;
}
*:focus {
    outline: none !important;
}
span {
	color: green;
}
#landingBody{
  	background-image: url('../img/notebookBackground.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  	font-family: 'Copperplate Gothic Bold', sans-serif;
  	text-align: center;
    font-size: 1.5rem;
}

.whiteBox{
	background-color: white;
	border-radius: 22px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	border: solid black 10px;
	max-width: 99%;
}

.title{
	margin-top: 10px;
	font-size: 6rem;
	font-weight: bold;
}

.definition{
	font-size: 1.6rem;
}

.invisible{
	display: none;   
}

/*legend{
	border: solid black 2px;
	float: left;
	padding-left: 1%;
}
*/
form input[type=text], input[type=email], input[type=password]{
	width: 64%;
	text-align: center;
	border: none;
	border-bottom: solid black 3px;
	outline: none;
	margin-bottom: 10px;
}

.registration {
	display: none;
}

.loginFormButtons {

}
#loginButton{
	margin-left: 20%;
}







