@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.navbarStyle{
    margin-left: 0;
    margin-right: 10px;
    width: 150px;
    height: 74vh;
    text-align: center;
    position: fixed;
    top: 115px;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: rgba(0,0,0,0.2);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.searchStyle{
    width: 150px;
    height: 74vh;
    /*margin-top: 115px;*/
    position: fixed;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: rgba(0,0,0,0.2);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}

.navLinkAdjusment{
    left: 0;
}